/*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */
.container{
    background-color: brown;
    height:500px;
    border:3px solid black;
    display: grid;
    /*To create the columns and rows(inspect it to see it) use grid template column */
    grid-template-columns: 150px 1fr 1fr 150px; /*3columns created*/
    grid-template-rows: 30px 1fr  30px; /*4 rows 90px*/

    /*Flexible grid use fr*/ 
    gap:3px
}
.box{
    background-color: aqua;
    border:3px solid black;
    
    
}

#box3{
    grid-column-start: 2;
    grid-column-end: 4;
}
#box1,#box4{
    grid-column-start: 1;
    grid-column-end: 5;
}
/* #box3{
    grid-row-start: 2;
    grid-row-end: 4;
} */