*{
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;
}*
.wrapper{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right,white,blue);
    overflow: auto;
}
.fpage{
    height: 100vh;
    width: 900px;
    background-color: aqua;
}
#top{
    display: flex;
    justify-content: center;
    align-items: center;
}